/* CSS Document */
#wrapper {
	font:12px arial;
	color: #222;
	text-align:center;
	padding:35px; 
}

form, p, span {
	margin:0;
	padding:0; }

input { font:12px arial; }

#wrapper a {
	color:#0000FF;
	text-decoration:none; }

#wrapper a:hover { text-decoration:underline; }

#wrapper, #loginform {
	margin:0 auto;
	padding-bottom:25px;
	background:#EBF4FB;
	width:804px;
	border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:630px;
	border:1px solid #ACD8F0;
	overflow:auto; }

#mem {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:80px;
	border:1px solid #ACD8F0;
	overflow:auto; }

#usermsg {
	width:550px;
	height:20px;
	border:1px solid #ACD8F0; 
}

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }

