 <!DOCTYPE html>  
 <html>  
 <head>  
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
 <title>感谢</title>  

 <style type="text/css">  
	 body{
	 }  

	.notice_next {
		cursor:pointer;	
	}

	.notice_pre {
		cursor:pointer;	
	}

	.reply_div {
		left: 30px;
		padding: 10px 10px 10px 30px;
		border:1px #999999 solid;
	}
 </style>  

 <script type="text/javascript" src="/static/js/jquery-1.4.4.js"></script>  
 <script type="text/javascript" src="/static/js/jquery.livequery.js"></script>  

 </head>  
   
 <body>  
	 <a>back</a>
	 <form method='post' name='back' id='back' action='/back?notice_id={{notice_id}}'>
			 <table>
				 <tr>
					 <td>感谢</td>
					 <td>
						 <textarea rows="2" cols="57" name="back_str">
						 </textarea>
					 </td>
				 </tr>
				 <tr>
					 <td></td>
					 <td>
						 <input value="提交" class="submit_createChannel" type="submit">
					 </td>
				 </tr>
			 </table>
		 </form>


 </body>  
 </html> 
