<div class='notice_div' notice_uuid='{{notice.id}}'>
	<p class='notice_p mouse_height'>
	<span class='notice_span' style='font-size:17px'>
		{{notice.id}}
	</span>

	<span class='notice_span' style='font-size:11px'>
	{{notice.created_at}}
	</span>

	<span class='notice_span' style='font-size:11px'>
	{% if notice.is_back %}
		已关闭
	{% else %}
		<a style='color:green'>待认领</a>
	{% endif %}
	</span>


	<span class='notice_span' style='font-size:17px'>
		{{notice.title}}
	</span>

		<br/>
	<span class='notice_span' style='font-size:17px'>
		{{notice.content}}
	</span>

	<br/>
	<span class='notice_span' style='font-size:13px;color:#3377AA'>
	{% if notice.is_back %}
		反馈:{{notice.back_str}}
	{% else %}
		<a class='back' href='/back?notice_id={{notice.id}}'>已认领点击表示感谢</a>
	{% endif %}
	</span>

	<!--<a class='lock'>举报</a>-->
	<!--<a class='delete'>删除</a>-->
	</p>
</div>
