<div class='notice_div' notice_uuid='{{notice.id}}'>
	<p class='notice_p mouse_height'>
	<span class='notice_span' style='font-size:17px'>
		{{notice.id}}
	</span>

	<span class='notice_span' style='font-size:11px'>
	{{notice.created_at}}
	</span>
    <br/>

	<!--<span class='notice_span' style='font-size:11px'>-->
	<!--{% if notice.is_back %}-->
		<!--已关闭-->
	<!--{% else %}-->
		<!--<a style='color:green'>待认领</a>-->
	<!--{% endif %}-->
	<!--</span>-->
	<!--<br/>-->

	<span class='notice_span' style='font-size:17px'>
		物品名称: {{notice.name}}
	</span>
	<br/>

	<span class='notice_span' style='font-size:17px'>
		描述: {{notice.desp}}
	</span>
	<br/>

    <span class='notice_span' style='font-size:17px'>
		发现地点: {{notice.location_sheng}}
		{{notice.location_shi}}
		{{notice.location_xian}}
		{{notice.location_note}}
	</span>
	<br/>

    <span class='notice_span' style='font-size:17px'>
        <!--<a class='getemail' href='/getemail?notice_id={{notice.id}}'>点击获得联系方式</a>-->
        联系人: {{notice.person}}
        <br/>
        联系方式: {{notice.email}}
	</span>
	<br/>

	<!--<span class='notice_span' style='font-size:13px;color:#3377AA'>-->
	<!--{% if notice.is_back %}-->
		<!--反馈:{{notice.back_str}}-->
	<!--{% else %}-->
		<!--<a class='back' href='/back?notice_id={{notice.id}}'>已认领点击表示感谢</a>-->
	<!--{% endif %}-->
	<!--</span>-->

	<!--<a class='lock'>举报</a>-->
	<!--<a class='delete'>删除</a>-->
	</p>
</div>
