 <!DOCTYPE html>  
 <html>  
 <head>  
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
 <title>失物招领列表</title>  

 <style type="text/css">  
	 body{
	 }  

	.notice_next {
		cursor:pointer;	
	}

	.notice_pre {
		cursor:pointer;	
	}

	.reply_div {
		left: 30px;
		padding: 10px 10px 10px 30px;
		border:1px #999999 solid;
	}
 </style>  

 <script type="text/javascript" src="/static/js/jquery-1.4.4.js"></script>  
 <script type="text/javascript" src="/static/js/jquery.livequery.js"></script>  

 </head>  
   
 <body>  

	 <div id='notice_list'>
		 <ul>
		 {% for notice in notices %}
		 <li>
		 {% include 'notice_find_grid_raw.html' %}
		 </li>
		 {% endfor %}
		 </ul>
	 </div>

	 <div id='notice_pager' total='{{total}}' page='{{page}}' records='{{records}}'>
		 <a>共{{total}}页</a>
		 <a>第{{page}}页</a>
		 {% if not page == 1 %}
		 <a href='/notice?page={{page-1}}' class='notice_pre'>上一页</a>
		 {% endif %}
		 {% if total > page %}
			<a href='/notice?page={{page+1}}' class='notice_next'>下一页</a>
		 {% endif %}
		 <a>共{{records}}条</a>
	 </div>

 </body>  
 </html> 
