<div id='notice_list'>
    <ul>
        {% for notice in notices %}
        <li>
        {% include 'notice_find_grid_raw.html' %}
        </li>
        {% endfor %}
    </ul>
</div>

<div id='notice_pager' total='{{total}}' page='{{page}}' records='{{records}}' page2=''>
    <a>共{{total}}页</a>
    <a>第{{page}}页</a>
    {% if not page == 1 %}
    <a class='notice_pre'>上一页</a>
    {% endif %}
    {% if total > page %}
    <a class='notice_next'>下一页</a>
    {% endif %}
    <a>共{{records}}条</a>
</div>
